@import 'variables';
@import 'functions';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@534&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  @include css-vars();
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--color-background);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

p {
  margin: unset;
}

address {
  font-style: normal;
}
